
<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>library_system</title>
</head>
<body style="background-color: beige">
<div style="background-color: rgba(102,76,76,0.47); color: darkcyan; padding: 10px; text-align: center; font-family: sans-serif; font-size: large"  ><h1> Samarkand Presidential School! <br>Student Registration</h1></div>
<div>
    <button style="padding:5px; color: wheat; background-color: darkcyan; border-radius: 5px; margin-left: auto" >Teacher panel</button><br>
    <button style="padding:5px; color: wheat; background-color: darkcyan; border-radius: 5px; margin-left: 49%" >Login</button>
</div>
<div style="background-color: #acdaad; padding: 80px; margin: auto; width: 200px; margin-top: 50px; border-radius: 10px"> <h1 style="text-align: center">REGISTER HERE</h1>
    <form th:action="/api/users/register" th:method="post" th:object="${student}">
    <label style="align-content: center" for="fullName"> fullName: </label>
    <input type="text" id="fullName" name="fullName" th:field="${fullName}"  required>
<br>
    <label for="email"> email: </label>
    <input type="text" id="email" name="email" th:field="${email}"  required>
<br>
    <label for="password"> password: </label>
    <input type="text" id="password" name="password" th:field="${password}"  required>
<br>

    <label for="studentGrade"> studentGrade: </label>
    <input type="text" id="studentGrade" name="studentGrade" th:field="${studentGrade}"  required>

    <button style="border-radius: 4px; margin-top: 15px; text-align: center; margin-left: 54px; padding: 4px" type="submit"> Register</button>

</form>
</div>
</body>
</html>